<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYAssociatedObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8F195721D6AD2A5005BE11F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8F1958B1D6AD2A5005BE11F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8F195961D6AD2A5005BE11F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
